*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/buildd
/captures
.externalNativeBuild
.cxx
local.properties
!"FlightSearch/app/build/outputs/apk/debug/Flight Search.apk"
